body {
  background-color: #4D4D4D;
  font-family: 'Fira Code';
  font-size: 100%;
  margin: auto;
  width: 100%;
}

#scroll-down-icon {
  color: #CE9178;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 200px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#front {
  background-color: #4D4D4D;
  font-family: 'Fira Code';
  text-align: left;
}

#front-background {
  width: 100%;
  height: 100vh;
}

#front-1 {
  fill: #3D3D3D;
}

#front-2 {
  fill: #343434;
}

#front-3 {
  fill: #262626;
}

#front-4 {
  fill: #1E1E1E;
}

#front__text {
  position: absolute;
  left: 30px;
  color: white;
  font-size: 15vh;
  margin: 15vw;
  margin-top: 30vh;
  padding-left: 5vh;
  border-left: 2px solid #858585;
}

.comment {
  color: #6A9955;
  font-family: 'Fira Code';
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}

#front__comment {
  visibility: hidden;
  margin-top: 10px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  opacity: 0;
}

.comment-title {
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
}

#about {
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
}

#about__skills {
  color: #6A9955;
  font-family: "Fira Code";
  font-size: 14px;
  text-align: left;
  margin: 5%;
  margin-bottom: 0;
  margin-top: 0;
}

#about__skills__title {
  background-color: #262626;
  color: #858585;
  font-family: 'Open Sans';
  font-size: 16px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about__skills__sub-title {
  background-color: #262626;
  color: #858585;
  font-family: 'Open Sans';
  font-size: 13px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.json-icon {
  color: #CBCB41;
  padding-right: .5em;
}

#about__me {
  font-family: 'Open Sans';
  background-color: #262626;
  max-width: 500px;
  color: #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-bottom: 5%;
}

.about__me__title {
  color: white;
  font-size: 18px;
  background-color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25em;
  padding-left: .5em;
}

.icon {
  display: inline-block;
}

.pointer-icon {
  height: .7em;
  width: .7em;
  background-size: .7em .7em;
  background-image: url("icons/pointer.png");
  background-repeat: no-repeat;
}

.about__me__description {
  font-size: 15px;
  -webkit-box-shadow: inset 0 7px 9px -7px #00000080;
          box-shadow: inset 0 7px 9px -7px #00000080;
  padding: 15px;
}

.about__me__description__emphasis {
  font-family: 'Fira Code';
  display: inline-block;
  color: #BDFFF7;
}

#education-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 0;
}

.education-info-list__item {
  background-color: #343434;
  opacity: .5;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

.about-list {
  margin: 10px;
  padding: 0;
}

.json {
  color: white;
  background-color: #262626;
  border-top: 1.5px solid #262626;
  -webkit-box-shadow: inset 0 7px 9px -7px #00000080;
          box-shadow: inset 0 7px 9px -7px #00000080;
  padding: 10px;
}

.json__object, .json__array, .json__array__object {
  padding-left: 2em;
  border-left: 1.5px solid #4D4D4D;
}

.json__object__name {
  color: #9CDCFE;
  display: inline-block;
}

.json__array__name {
  color: #9CDCFE;
  display: inline-block;
}

.json__array__object {
  color: #CE9178;
  display: inline-block;
}

#portfolio {
  background-color: #1E1E1E;
  height: auto;
  width: 100%;
  margin: auto;
  text-align: center;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  color: white;
  font-family: 'Open Sans';
  width: 250px;
  height: 350px;
  background-color: #262626;
  background-image: url("svg/popup.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 75px 75px;
}

.project-image {
  background-color: indigo;
  width: 250px;
  height: 350px;
}

.project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-shadow: 0 1px 2px #00000080;
          box-shadow: 0 1px 2px #00000080;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project__icon {
  width: 3em;
  height: 3em;
}

.project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.project__title__text {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-size: 19px;
  text-align: left;
  margin: 15px;
}

.project__description {
  color: #CCCCCC;
  text-align: left;
  font-size: 14px;
  margin: 20px;
  margin-top: 10px;
}

.project__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.project__skills__item {
  font-family: 'Fira Code';
  font-size: 14px;
  color: #858585;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.project-box:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

/* The Modal (background) */
#project__modal {
  visibility: hidden;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  opacity: 0;
}

/* Modal Content */
.project__modal__content {
  background-color: #b1b1b1;
  font-family: 'Open Sans';
  font-size: 13px;
  text-align: left;
  border: 1px solid #888;
  margin: auto;
  margin-top: 5vh;
  width: 80vw;
  height: 90vh;
  overflow-y: scroll;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
}

.project__modal__content__info {
  background-color: #fafafa;
  -webkit-box-shadow: 0 5px 10px #00000080;
          box-shadow: 0 5px 10px #00000080;
  width: 75%;
  padding: 5%;
  margin: 3%;
}

.project__modal__content__info__title {
  font-size: 30px;
  font-weight: 800;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.project__modal__content__info__paragraphs {
  padding-top: 1%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 5vh;
  left: 10vw;
  color: #585858;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bit-inspector__popup-image {
  border-bottom: 1px solid #000;
  width: 50vw;
  margin-bottom: 0;
  padding-bottom: 1vw;
}

.family-map__popup-image-container {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.family-map__popup-image {
  -webkit-box-shadow: 0 1px 2px #00000080;
          box-shadow: 0 1px 2px #00000080;
  height: 75vh;
  margin-bottom: 0;
  margin-bottom: 3vh;
}

.popup-image-text {
  font-style: italic;
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 2vw;
}

.c-programming-project-video {
  border-bottom: 1px solid #000;
  text-align: center;
  width: 50%;
  padding: 15px;
  margin: auto;
}

#experience {
  text-align: center;
  background-color: yellowgreen;
  margin: 50px;
  height: 400px;
}

.experience__list {
  width: 150px;
  margin-left: -500px;
  background-color: red;
  display: inline-block;
}

.experience__list__item {
  margin: 10px;
  background-color: orange;
  font-family: 'Fira Code';
  cursor: pointer;
}

.experience__description__title {
  color: orange;
  display: inline-block;
}

.experience__description__location {
  color: orange;
  display: inline-block;
}

.experience__description__dates {
  font-family: 'Fira Code';
}

.experience__description {
  margin: 20px;
  margin-top: 0px;
  text-align: justify;
  font-family: 'Inconsolata';
  display: inline-block;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#contact {
  background-color: rebeccapurple;
  height: 500px;
}

@media screen and (max-width: 800px) {
  #front__text {
    color: red;
    font-size: 15vh;
    display: inline-block;
    margin: 15vw;
    margin-top: 30vh;
    padding-left: 5vh;
    border-left: 2px solid #4D4D4D;
  }
}
/*# sourceMappingURL=main.css.map */